<!DOCTYPE html>
<html lang="de" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/main.css}" rel="stylesheet" />
</head>
<body>

    <aside th:hx-get="@{/cases/menu}" hx-trigger="load"></aside>

    <main>
        <div>
            <div th:if="${labdataprofiles.isEmpty()}">
                <h3>Probe</h3>
                <form class="lab-data" th:hx-post="@{/labdataprofiles}">
                    <div>Keine Sequenzierprofile gefunden</div>
                    <button>Neues Sequenzierprofil hinzufügen</button>
                </form>
            </div>

            <div th:each="profile : ${labdataprofiles}">
                <h3>
                    Sequenzierprofil
                    <tt>"[[ ${ profile.profileName } ]]"</tt>
                </h3>

                <form class="lab-data">
                    <input type="hidden" name="id" th:value="${profile.id}" />

                    <div>
                        <label>
                           Profilname
                            <input type="text" name="profileName" th:value="${profile.profileName}" />
                        </label>
                    </div>

                    <div>
                        <label>
                            Library Type
                            <select name="libraryType">
                                <option th:selected="${profile.libraryType != null and profile.libraryType.value == 'panel'}" value="PANEL">panel</option>
                                <option th:selected="${profile.libraryType != null and profile.libraryType.value == 'panel_lr'}" value="PANEL_LR">panel_lr</option>
                                <option th:selected="${profile.libraryType != null and profile.libraryType.value == 'wes'}" value="WES">wes</option>
                                <option th:selected="${profile.libraryType != null and profile.libraryType.value == 'wes_lr'}" value="WES_LR">wes_lr</option>
                                <option th:selected="${profile.libraryType != null and profile.libraryType.value == 'wgs'}" value="WGS">wgs</option>
                                <option th:selected="${profile.libraryType != null and profile.libraryType.value == 'wgs_lr'}" value="WGS_LR">wgs_lr</option>
                                <option th:selected="${profile.libraryType != null and profile.libraryType.value == 'wxs'}" value="WXS">wxs</option>
                                <option th:selected="${profile.libraryType != null and profile.libraryType.value == 'wxs_lr'}" value="WXS_LR">wxs_lr</option>
                                <option th:selected="${profile.libraryType != null and profile.libraryType.value == 'other'}" value="OTHER">other</option>
                                <option th:selected="${profile.libraryType != null and profile.libraryType.value == 'unknown'}" value="UNKNOWN">unknown</option>
                            </select>
                        </label>
                    </div>

                    <div>
                        <label>
                            Preparation Kit - Name
                            <input type="text" name="libraryPrepKit" th:value="${profile.libraryPrepKit}" />
                        </label>

                        <label>
                            Hersteller
                            <input type="text" name="libraryPrepKitManufacturer" th:value="${profile.libraryPrepKitManufacturer}" />
                        </label>
                    </div>

                    <div>
                        <label>
                            Sequencer - Modell
                            <input type="text" name="sequencerModel" th:value="${profile.sequencerModel}" />
                        </label>

                        <label>
                            Hersteller
                            <input type="text" name="sequencerManufacturer" th:value="${profile.sequencerManufacturer}" />
                        </label>
                    </div>

                    <div>
                        <label>
                            Kit - Name/Version
                            <input type="text" name="kitName" th:value="${profile.kitName}" />
                        </label>

                        <label>
                            Hersteller
                            <input type="text" name="kitManufacturer" th:value="${profile.kitManufacturer}" />
                        </label>
                    </div>

                    <div>
                        <label>
                            Enrichment Kit - Name und Version
                            <input type="text" name="enrichmentKit" th:value="${profile.enrichmentKit}" />
                        </label>

                        <label>
                            Hersteller
                            <select name="enrichmentKitManufacturer">
                                <option th:selected="${profile.enrichmentKitManufacturer != null and profile.enrichmentKitManufacturer.value == 'Illumuna'}" value="ILLUMINA">Illumina</option>
                                <option th:selected="${profile.enrichmentKitManufacturer != null and profile.enrichmentKitManufacturer.value == 'Agilent'}" value="AGILENT">Agilent</option>
                                <option th:selected="${profile.enrichmentKitManufacturer != null and profile.enrichmentKitManufacturer.value == 'Twist'}" value="TIST">Twist</option>
                                <option th:selected="${profile.enrichmentKitManufacturer != null and profile.enrichmentKitManufacturer.value == 'NEB'}" value="NEB">NEB</option>
                                <option th:selected="${profile.enrichmentKitManufacturer != null and profile.enrichmentKitManufacturer.value == 'other'}" value="OTHER">other</option>
                                <option th:selected="${profile.enrichmentKitManufacturer != null and profile.enrichmentKitManufacturer.value == 'unknown'}" value="UNKNOWN">unknown</option>
                                <option th:selected="${profile.enrichmentKitManufacturer != null and profile.enrichmentKitManufacturer.value == 'none'}" value="NONE">none</option>
                            </select>
                        </label>
                    </div>

                    <div>
                        <button class="save" th:hx-put="@{/labdataprofiles/{profileId}(profileId=${profile.id})}" hx-target="body">Änderungen übernehmen</button>
                        <button class="new" th:hx-post="@{/labdataprofiles}" hx-target="body">Neu</button>
                        <button class="delete" th:hx-delete="@{/labdataprofiles/{profileId}(profileId=${profile.id})}" hx-target="body">Löschen</button>
                    </div>

                </form>
            </div>

        </div>
    </main>

    <script th:src="@{/main.js}"></script>
</body>
</html>
