<!DOCTYPE html>
<html lang="de" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <div th:id="'donors_' + ${donorId} + '_labdatas'">
        <div th:if="${labdatas.isEmpty()}">
            <h3 class="head">Probe</h3>
            <form class="lab-data" th:hx-post="@{/donors/{donorId}/labdatas(donorId=${donorId})}" th:hx-target="'#donors_' + ${donorId} + '_labdatas'">
                <div>Keine Probe gefunden</div>
                <button>Neuen Probe hinzufügen</button>
            </form>
        </div>

        <details th:each="labdata : ${labdatas}" open>
            <summary class="h3">
                Probe/Sequenzierung
                <code>[[ ${labdata.einsendenummer} ]]</code>
            </summary>

            <form class="lab-data">
                <input type="hidden" name="id" th:value="${labdata.id}" />

                <div>
                    <label class="optional">
                        Einsendenummer (Optionale Angabe)
                        <input type="text" name="einsendenummer" th:value="${labdata.einsendenummer}" />
                    </label>
                </div>

                <div>
                    <label>
                        LabData Name
                        <input type="text" name="labDataName" th:value="${labdata.labDataName}"/>
                    </label>
                </div>

                <div>
                    <label>
                        Datum der Probe
                        <input type="date" name="sampleDate" th:value="${labdata.sampleDate}" />
                    </label>
                </div>

                <div>
                    <label>
                        Konservierung der Probe
                        <select name="sampleConservation">
                            <option th:selected="${labdata.sampleConservation != null and labdata.sampleConservation.value == 'FRESH_TISSUE'}" value="FRESH_TISSUE">fresh-tissue</option>
                            <option th:selected="${labdata.sampleConservation != null and labdata.sampleConservation.value == 'CRYO_FROZEN'}" value="CRYO_FROZEN">cryo-frozen</option>
                            <option th:selected="${labdata.sampleConservation != null and labdata.sampleConservation.value == 'FFPE'}" value="FFPE">ffpe</option>
                            <option th:selected="${labdata.sampleConservation != null and labdata.sampleConservation.value == 'OTHER'}" value="OTHER">other</option>
                            <option th:selected="${labdata.sampleConservation != null and labdata.sampleConservation.value == 'UNKNOWN'}" value="UNKNOWN">unknown</option>
                        </select>
                    </label>
                </div>

                <div>
                    <label>
                        Sequenzierungsart
                        <select name="sequenceType">
                            <option th:selected="${labdata.sequenceType != null and labdata.sequenceType.value == 'dna'}" value="DNA">dna</option>
                            <option th:selected="${labdata.sequenceType != null and labdata.sequenceType.value == 'rna'}" value="RNA">rna</option>
                        </select>
                    </label>
                </div>

                <div>
                    <label>
                        Sequenzierungsunterart
                        <select name="sequenceSubtype">
                            <option th:selected="${labdata.sequenceSubtype != null and labdata.sequenceSubtype.value == 'germline'}" value="GERMLINE">germline</option>
                            <option th:selected="${labdata.sequenceSubtype != null and labdata.sequenceSubtype.value == 'somatic'}" value="SOMATIC">somatic</option>
                            <option th:selected="${labdata.sequenceSubtype != null and labdata.sequenceSubtype.value == 'other'}" value="OTHER">other</option>
                            <option th:selected="${labdata.sequenceSubtype != null and labdata.sequenceSubtype.value == 'unknown'}" value="UNKNOWN">unknown</option>
                        </select>
                    </label>
                </div>

                <div>
                    <label>
                        Fragmentierungsart
                        <select name="fragmentationMethod">
                            <option th:selected="${labdata.fragmentationMethod != null and labdata.fragmentationMethod.value == 'sonication'}" value="SONICATION">sonication</option>
                            <option th:selected="${labdata.fragmentationMethod != null and labdata.fragmentationMethod.value == 'enzymatic'}" value="ENZYMATIC">enzymatic</option>
                            <option th:selected="${labdata.fragmentationMethod != null and labdata.fragmentationMethod.value == 'none'}" value="NONE">none</option>
                            <option th:selected="${labdata.fragmentationMethod != null and labdata.fragmentationMethod.value == 'other'}" value="OTHER">other</option>
                            <option th:selected="${labdata.fragmentationMethod != null and labdata.fragmentationMethod.value == 'unknown'}" value="UNKNOWN">unknown</option>
                        </select>
                    </label>
                </div>

                <div>
                    <label class="optional">
                        Sequenzierprofil (Optionale Angabe)
                        <select name="profile" th:hx-target="${'#labdata_' + labdata.id + '_sequencerprofile'}">
                            <option value="" th:hx-get="@{/donors/{donorId}/labdatas/{labdataId}/kits(donorId=${donorId},labdataId=${labdata.id})}">Kein Sequenzierprofil</option>
                            <option th:each="labdataprofile : ${labdataprofiles}"
                                    th:selected="${labdataprofile.id == labdata.profile}"
                                    th:hx-get="@{/labdataprofiles/{labdataprofileId}(labdataprofileId=${labdataprofile.id})}"
                                    th:value="${labdataprofile.id}"
                                    th:text="${labdataprofile.profileName}"></option>
                        </select>
                    </label>
                </div>

                <div th:if="${labdata.profileData == null}" th:id="${'labdata_' + labdata.id + '_sequencerprofile'}">
                <div>
                    <label>
                        Library Type
                        <select name="libraryType">
                            <option th:selected="${labdata.libraryType != null and labdata.libraryType.value == 'panel'}" value="PANEL">panel</option>
                            <option th:selected="${labdata.libraryType != null and labdata.libraryType.value == 'panel_lr'}" value="PANEL_LR">panel_lr</option>
                            <option th:selected="${labdata.libraryType != null and labdata.libraryType.value == 'wes'}" value="WES">wes</option>
                            <option th:selected="${labdata.libraryType != null and labdata.libraryType.value == 'wes_lr'}" value="WES_LR">wes_lr</option>
                            <option th:selected="${labdata.libraryType != null and labdata.libraryType.value == 'wgs'}" value="WGS">wgs</option>
                            <option th:selected="${labdata.libraryType != null and labdata.libraryType.value == 'wgs_lr'}" value="WGS_LR">wgs_lr</option>
                            <option th:selected="${labdata.libraryType != null and labdata.libraryType.value == 'wxs'}" value="WXS">wxs</option>
                            <option th:selected="${labdata.libraryType != null and labdata.libraryType.value == 'wxs_lr'}" value="WXS_LR">wxs_lr</option>
                            <option th:selected="${labdata.libraryType != null and labdata.libraryType.value == 'other'}" value="OTHER">other</option>
                            <option th:selected="${labdata.libraryType != null and labdata.libraryType.value == 'unknown'}" value="UNKNOWN">unknown</option>
                        </select>
                    </label>
                </div>

                <div>
                    <label>
                        Preparation Kit - Name
                        <input type="text" name="libraryPrepKit" th:value="${labdata.libraryPrepKit}" />
                    </label>

                    <label>
                        Hersteller
                        <input type="text" name="libraryPrepKitManufacturer" th:value="${labdata.libraryPrepKitManufacturer}" />
                    </label>
                </div>

                <div>
                    <label>
                        Sequencer - Modell
                        <input type="text" name="sequencerModel" th:value="${labdata.sequencerModel}" />
                    </label>

                    <label>
                        Hersteller
                        <input type="text" name="sequencerManufacturer" th:value="${labdata.sequencerManufacturer}" />
                    </label>
                </div>

                <div>
                    <label>
                        Kit - Name/Version
                        <input type="text" name="kitName" th:value="${labdata.kitName}" />
                    </label>

                    <label>
                        Hersteller
                        <input type="text" name="kitManufacturer" th:value="${labdata.kitManufacturer}" />
                    </label>
                </div>

                <div>
                    <label>
                        Enrichment Kit - Name und Version
                        <input type="text" name="enrichmentKit" th:value="${labdata.enrichmentKit}" />
                    </label>

                    <label>
                        Hersteller
                        <select name="enrichmentKitManufacturer">
                            <option th:selected="${labdata.enrichmentKitManufacturer != null and labdata.enrichmentKitManufacturer.value == 'Illumina'}" value="ILLUMINA">Illumina</option>
                            <option th:selected="${labdata.enrichmentKitManufacturer != null and labdata.enrichmentKitManufacturer.value == 'Agilent'}" value="AGILENT">Agilent</option>
                            <option th:selected="${labdata.enrichmentKitManufacturer != null and labdata.enrichmentKitManufacturer.value == 'Twist'}" value="TIST">Twist</option>
                            <option th:selected="${labdata.enrichmentKitManufacturer != null and labdata.enrichmentKitManufacturer.value == 'NEB'}" value="NEB">NEB</option>
                            <option th:selected="${labdata.enrichmentKitManufacturer != null and labdata.enrichmentKitManufacturer.value == 'other'}" value="OTHER">other</option>
                            <option th:selected="${labdata.enrichmentKitManufacturer != null and labdata.enrichmentKitManufacturer.value == 'unknown'}" value="UNKNOWN">unknown</option>
                            <option th:selected="${labdata.enrichmentKitManufacturer != null and labdata.enrichmentKitManufacturer.value == 'none'}" value="NONE">none</option>
                        </select>
                    </label>
                </div>
                </div>

                <div th:if="${labdata.profileData != null}" th:id="${'labdata_' + labdata.id + '_sequencerprofile'}">
                    <div>
                        <label class="disabled">
                            Library Type
                            <select name="libraryType" disabled>
                                <option th:selected="${labdata.profileData.libraryType != null and labdata.profileData.libraryType.value == 'panel'}" value="PANEL">panel</option>
                                <option th:selected="${labdata.profileData.libraryType != null and labdata.profileData.libraryType.value == 'panel_lr'}" value="PANEL_LR">panel_lr</option>
                                <option th:selected="${labdata.profileData.libraryType != null and labdata.profileData.libraryType.value == 'wes'}" value="WES">wes</option>
                                <option th:selected="${labdata.profileData.libraryType != null and labdata.profileData.libraryType.value == 'wes_lr'}" value="WES_LR">wes_lr</option>
                                <option th:selected="${labdata.profileData.libraryType != null and labdata.profileData.libraryType.value == 'wgs'}" value="WGS">wgs</option>
                                <option th:selected="${labdata.profileData.libraryType != null and labdata.profileData.libraryType.value == 'wgs_lr'}" value="WGS_LR">wgs_lr</option>
                                <option th:selected="${labdata.profileData.libraryType != null and labdata.profileData.libraryType.value == 'wxs'}" value="WXS">wxs</option>
                                <option th:selected="${labdata.profileData.libraryType != null and labdata.profileData.libraryType.value == 'wxs_lr'}" value="WXS_LR">wxs_lr</option>
                                <option th:selected="${labdata.profileData.libraryType != null and labdata.profileData.libraryType.value == 'other'}" value="OTHER">other</option>
                                <option th:selected="${labdata.profileData.libraryType != null and labdata.profileData.libraryType.value == 'unknown'}" value="UNKNOWN">unknown</option>
                            </select>
                        </label>
                    </div>

                    <div>
                        <label class="disabled">
                            Preparation Kit - Name
                            <input type="text" name="libraryPrepKit" th:value="${labdata.profileData.libraryPrepKit}" disabled/>
                        </label>

                        <label class="disabled">
                            Hersteller
                            <input type="text" name="libraryPrepKitManufacturer" th:value="${labdata.profileData.libraryPrepKitManufacturer}" disabled/>
                        </label>
                    </div>

                    <div>
                        <label class="disabled">
                            Sequencer - Modell
                            <input type="text" name="sequencerModel" th:value="${labdata.profileData.sequencerModel}" disabled/>
                        </label>

                        <label class="disabled">
                            Hersteller
                            <input type="text" name="sequencerManufacturer" th:value="${labdata.profileData.sequencerManufacturer}" disabled/>
                        </label>
                    </div>

                    <div>
                        <label class="disabled">
                            Kit - Name/Version
                            <input type="text" name="kitName" th:value="${labdata.profileData.kitName}" disabled/>
                        </label>

                        <label class="disabled">
                            Hersteller
                            <input type="text" name="kitManufacturer" th:value="${labdata.profileData.kitManufacturer}" disabled/>
                        </label>
                    </div>

                    <div>
                        <label class="disabled">
                            Enrichment Kit - Name und Version
                            <input type="text" name="enrichmentKit" th:value="${labdata.profileData.enrichmentKit}" disabled />
                        </label>

                        <label class="disabled">
                            Hersteller
                            <select name="enrichmentKitManufacturer" disabled>
                                <option th:selected="${labdata.profileData.enrichmentKitManufacturer != null and labdata.profileData.enrichmentKitManufacturer.value == 'Illumina'}" value="ILLUMINA">Illumina</option>
                                <option th:selected="${labdata.profileData.enrichmentKitManufacturer != null and labdata.profileData.enrichmentKitManufacturer.value == 'Agilent'}" value="AGILENT">Agilent</option>
                                <option th:selected="${labdata.profileData.enrichmentKitManufacturer != null and labdata.profileData.enrichmentKitManufacturer.value == 'Twist'}" value="TIST">Twist</option>
                                <option th:selected="${labdata.profileData.enrichmentKitManufacturer != null and labdata.profileData.enrichmentKitManufacturer.value == 'NEB'}" value="NEB">NEB</option>
                                <option th:selected="${labdata.profileData.enrichmentKitManufacturer != null and labdata.profileData.enrichmentKitManufacturer.value == 'other'}" value="OTHER">other</option>
                                <option th:selected="${labdata.profileData.enrichmentKitManufacturer != null and labdata.profileData.enrichmentKitManufacturer.value == 'unknown'}" value="UNKNOWN">unknown</option>
                                <option th:selected="${labdata.profileData.enrichmentKitManufacturer != null and labdata.profileData.enrichmentKitManufacturer.value == 'none'}" value="NONE">none</option>
                            </select>
                        </label>
                    </div>
                </div>

                <div>
                    <label>
                        Sequencing Layout
                        <select name="sequencingLayout">
                            <option th:selected="${labdata.sequencingLayout != null and labdata.sequencingLayout.value == 'single-end'}" value="SINGLE_END">single-end</option>
                            <option th:selected="${labdata.sequencingLayout != null and labdata.sequencingLayout.value == 'paired-end'}" value="PAIRED_END">paired-end</option>
                            <option th:selected="${labdata.sequencingLayout != null and labdata.sequencingLayout.value == 'reverse'}" value="REVERSE">reverse</option>
                            <option th:selected="${labdata.sequencingLayout != null and labdata.sequencingLayout.value == 'other'}" value="OTHER">other</option>
                        </select>
                    </label>
                </div>

                <div>
                    <label>
                        Tumorzellgehalt in %
                        <input type="number" name="tumorCellCount" th:value="${labdata.tumorCellCount}" />
                    </label>

                    <label>
                        Methode
                        <select name="tumorCellCountMethod">
                            <option th:selected="${labdata.tumorCellCountMethod != null and labdata.tumorCellCountMethod.value == 'pathology'}" value="PATHOLOGY">pathology</option>
                            <option th:selected="${labdata.tumorCellCountMethod != null and labdata.tumorCellCountMethod.value == 'bioinformatics'}" value="BIOINFORMATICS">bioinformatics</option>
                            <option th:selected="${labdata.tumorCellCountMethod != null and labdata.tumorCellCountMethod.value == 'other'}" value="OTHER">other</option>
                            <option th:selected="${labdata.tumorCellCountMethod != null and labdata.tumorCellCountMethod.value == 'unknown'}" value="UNKNOWN">unknown</option>
                        </select>
                    </label>
                </div>

                <div>
                    <label>
                        Bioinformatik-Pipeline
                        <input type="text" name="bioinformaticsPipelineName" th:value="${labdata.bioinformaticsPipelineName}" />
                    </label>

                    <label>
                        Version
                        <input type="text" name="bioinformaticsPipelineVersion" th:value="${labdata.bioinformaticsPipelineVersion}" />
                    </label>
                </div>

                <div>
                    <label>
                        Referenz-Genom
                        <select name="referenceGenome">
                            <option th:selected="${labdata.referenceGenome != null and labdata.referenceGenome.value == 'GRCh37'}" value="GRCH37">GRCh37</option>
                            <option th:selected="${labdata.referenceGenome != null and labdata.referenceGenome.value == 'GRCh38'}" value="GRCH38">GRCh38</option>
                        </select>
                    </label>
                </div>

                <div>
                    <button class="save" th:hx-put="@{/donors/{donorId}/labdatas/{labdataId}(donorId=${donorId},labdataId=${labdata.id})}" th:hx-target="'#donors_' + ${donorId} + '_labdatas'">Änderungen übernehmen</button>
                    <button class="new" th:hx-post="@{/donors/{donorId}/labdatas(donorId=${donorId})}" th:hx-target="'#donors_' + ${donorId} + '_labdatas'">Neu</button>
                    <button class="delete" th:hx-delete="@{/donors/{donorId}/labdatas/{labdataId}(donorId=${donorId},labdataId=${labdata.id})}" th:hx-target="'#donors_' + ${donorId} + '_labdatas'">Löschen</button>
                </div>

                <div th:hx-get="@{/labdatas/{labdataId}/files(labdataId=${labdata.id})}" hx-trigger="load"></div>

            </form>
        </details>

    </div>

</body>
</html>
